<p-toast />
<section class="space-y-6">
  <app-purchase-order-header [showCreate]="true" (create)="goToCreate()" />

  <app-purchase-order-list
    [purchaseOrders]="displayPurchaseOrders()"
    [purchaseNumber]="purchaseNumber()"
    [totalRecords]="displayPaging().totalCount"
    [first]="first()"
    [pageSize]="pageSize()"
    [pageSizeOptions]="pageSizeOptions"
    [loading]="purchaseOrdersResource.isLoading()"
    (pageChange)="onPageChange($event)"
    (purchaseNumberChange)="onPurchaseNumberChange($event)"
    (view)="goToDetails($event)"
  />
</section>
