<p-toast />
<p-confirmDialog />

<section class="space-y-6">
  <app-product-header (create)="openCreateModal()" />

  <app-product-list
    [products]="products()"
    [totalRecords]="totalRecords()"
    [first]="first()"
    [pageSize]="pageSize()"
    [isListLoading]="isListLoading()"
    [pageSizeOptions]="pageSizeOptions"
    (edit)="openEditModal($event)"
    (delete)="deleteProduct($event)"
    (pageChange)="onPageChange($event)"
    (viewBatches)="viewBatches($event)"
  />
</section>

<app-product-dialog
  [visible]="modalVisible()"
  (visibleChange)="modalVisible.set($event)"
  [mode]="modalMode()"
  [product]="selectedProduct()"
  [saving]="modalSaving()"
  (save)="submitModal($event)"
  (cancel)="closeModal()"
  (hide)="onModalHide()"
/>

<app-product-batches-modal
  [visible]="batchesVisible()"
  (visibleChange)="batchesVisible.set($event)"
  [product]="selectedProductForInventory()"
/>
