<section class="flex flex-col gap-8">
  <app-products-breadcrumb [items]="breadcrumbItems" />

  <app-product-header (create)="navigateToCreate()" />

  <app-products-filter-panel
    [name]="nameSearch()"
    [loading]="productsResource.isLoading()"
    (filtersChange)="onFiltersChange($event)"
    (clearFilters)="onClearFilters()"
  />

  <app-product-list
    [products]="displayProducts()"
    [totalRecords]="displayPaging().totalCount"
    [first]="first()"
    [pageSize]="pageSize()"
    [isListLoading]="productsResource.isLoading()"
    [pageSizeOptions]="pageSizeOptions"
    (viewProduct)="viewProduct($event)"
    (pageChange)="onPageChange($event)"
    (clearFilters)="onClearFilters()"
  />
</section>
