<section class="space-y-6">
  <app-products-breadcrumb [items]="breadcrumbItems" />

  <app-product-header (create)="navigateToCreate()" />

  <app-product-list
    [products]="displayProducts()"
    [totalRecords]="displayPaging().totalCount"
    [first]="first()"
    [pageSize]="pageSize()"
    [isListLoading]="productsResource.isLoading()"
    [pageSizeOptions]="pageSizeOptions"
    [nameSearch]="nameSearch()"
    (viewProduct)="viewProduct($event)"
    (pageChange)="onPageChange($event)"
    (nameSearchChange)="onNameSearchChange($event)"
  />
</section>
