<p-toast />
<section class="flex flex-col gap-10">
  <app-supplier-header (create)="goToCreate()" />

  <app-suppliers-filter-panel
    [name]="qFromRoute()"
    [loading]="suppliersResource.isLoading()"
    (filtersChange)="onFiltersChange($event)"
    (clearFilters)="onClearFilters()"
  />

  <app-supplier-list
    [suppliers]="displaySuppliers()"
    [isListLoading]="suppliersResource.isLoading()"
    [totalRecords]="displayPaging().totalCount"
    [first]="first()"
    [pageSize]="pageSize()"
    [pageSizeOptions]="pageSizeOptions"
    (pageChange)="onPageChange($event)"
    (clearFilters)="onClearFilters()"
    (viewSupplier)="goToDetails($event)"
  />
</section>
