<p-toast />

<section class="flex flex-col gap-10">
  <app-customer-header (create)="goToCreate()" />

  <app-customers-filter-panel
    [name]="qFromRoute()"
    [loading]="customersResource.isLoading()"
    (filtersChange)="onFiltersChange($event)"
    (clearFilters)="onClearFilters()"
  />

  <app-customer-list
    [customers]="displayCustomers()"
    [isListLoading]="customersResource.isLoading()"
    [totalRecords]="displayPaging().totalCount"
    [first]="first()"
    [pageSize]="pageSize()"
    [pageSizeOptions]="pageSizeOptions"
    (pageChange)="onPageChange($event)"
    (clearFilters)="onClearFilters()"
    (viewCustomer)="goToDetails($event)"
  />
</section>
