<section class="flex flex-col gap-8">
  <app-order-header 
    (create)="goToCreatePage()"
  />

  <app-orders-filter-panel
    [orderNumber]="qFromRoute()"
    [status]="orderStatusFilterFromRoute()"
    [paymentStatus]="paymentStatusFilterFromRoute()"
    [paymentType]="paymentTypeFilterFromRoute()"
    [loading]="ordersResource.isLoading()"
    (filtersChange)="onFiltersChange($event)"
    (clearFilters)="onClearFilters()"
  />

  <app-order-list
    [orders]="displayOrders()"
    [totalRecords]="displayPaging().totalCount"
    [first]="first()"
    [pageSize]="pageSize()"
    [pageSizeOptions]="pageSizeOptions"
    [loading]="ordersResource.isLoading()"
    [showDelete]="false"
    (pageChange)="onPageChange($event)"
    (clearFilters)="onClearFilters()"
    (view)="goToDetails($event)"
  />

</section>
